{% extends 'base.html' %}

{% block title %}
    Task Post
{% endblock %}

{% block content %}
<div class="container">
    <a class="gradient-button" href="{% url 'task_list' %}"  style="color: blue">
        <span class="material-icons">arrow_back</span></a>
    <h1 style="text-align: center;">{{ task.title }}
        {% if request.user == task.author %}
            <a class="gradient-button" href="{% url 'task_edit' task.pk%}"  style="font-size: 10px">
            <span class="material-icons">edit</span></a>

            <a class="gradient-button" href="{% url 'task_delete' task.pk%}"  style="font-size: 10px"
            onclick="return confirm('Вы уверены, что хотите удалить этот пост?')">
            <span class="material-icons">delete</span></a>
        {% endif %}
    </h1>
    </br>
    <div class="row" style="margin: 1rem">
        <div class="col">
        <img class="post_image" src="{{ task.image.url }}" alt="no image" style="width: 500px">
        </div>
        <div class="col">
            <h5 style="max-width:500px!important; word-wrap:break-word; text-align: center">{{ task.description }}</h5>
            </br></br>
            <p>Создан: {{ task.created }}</p>
            <p>Дедлайн до: {{ task.deadline }}</p>
            <p>
                Тэги:
                {% for tag in task.tags.all %}
                <a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>
                {% endfor %}
            </p>
            <p>Автор: {{ task.author }}</p>
        </div>
    </div>

    <div class="container" style="width: 600px; margin-top: 2rem; justify-content: center">
        {% if request.user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label class='mb-2' for="exampleFormControlTextarea1">Оставить комментарий: </label>
                <textarea class="form-control mb-2" id="exampleFormControlTextarea1" rows="3"
                name="content" required id="id_content"></textarea>
                <button type="submit" class="btn btn-primary">Отправить</button>
            </div>
        </form>
        {% else %}
            <p>Для того чтобы оставить коментарий, <a href="{% url 'login' %}">войдите в аккаунт!</a></p>
        {% endif %}


        {% if comments %}
            {% for comment in comments %}
                <div style="margin-top:1rem; padding: 1rem; border: 1px solid black;">
                {% if request.user == comment.author %}
                      <a href="{% url 'comment_edit' task.pk comment.pk%}" style="color: gray">
                          <span class="material-icons">edit</span></a>
                      <a href="{% url 'comment_delete' task.pk comment.pk%}" style="color: gray"
                      onclick="return confirm('Вы уверены, что хотите удалить этот комментарий?')">
                          <span class="material-icons">delete</span></a>
                {% endif %}
                    <p>Автор: {{ comment.author }}</p>
                    <p>Текст: {{ comment.content }}</p>
                    <p>Дата: {{ comment.created }}</p>
                </div>
            {% endfor%}
        {% else %}
            <p class="mt-4">Коментариев еще нет</p>
        {% endif %}
    </div>
</br>
</div>
{% endblock %}



