{% extends 'base.html' %}

{% block title %}
    Category Tasks
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <a class="gradient-button" href="{% url 'task_list' %}"  style="color: blue">
        <span class="material-icons">arrow_back</span></a>
        <div class="col">
            <h3 class="mg-5">Посты с категорией: {{ category|title }}⠀
            {% if request.user == category.author %}
                <a class="gradient-button" href="{% url 'category_edit' category.pk %}"  style="font-size: 10px">
                <span class="material-icons">edit</span></a>
                <a class="gradient-button" href="{% url 'category_delete' category.pk%}"  style="font-size: 10px"
                onclick="return confirm('Вы уверены, что хотите удалить этот комментарий?')">
                <span class="material-icons">delete</span></a>
            {% endif %}
            </h3>
        </div>
        <div class="col">
            <p>Автор категории: {{ category.author }}</p>
        </div>
    </div>
</div>
{% include 'task_card.html' %}
{% endblock %}